html,
body {
  height: 100%;
}

.cell {
  background: white;
  width: 6.25%;
  margin: 2px 2px;
}

#centerContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sketchGrid {
  background: gray;
  height: 600px;
  width: 600px;
  border: 3px solid #22cc39;
}

.row {
  display: flex;
  flex-direction: row;
  height: 6.25%;
  width: 100%;
}
